.main {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 64px);
    overflow-y: scroll;
}

.column_carousel,
.empty {
    display: flex;
    flex-grow: 1;
}

.column_carousel {
    gap: 24px;
    padding-block: 24px;
    padding-inline: 16px;
    width: 100%;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.new_column_btn {
    height: calc(100vh - 100px);
    width: 280px;
    flex-shrink: 0;
    scroll-snap-align: center;
    background: linear-gradient(to bottom, #E9EFFA, #e9effa88);
    border: none;
    border-radius: 6px;
    font: var(--font-head-xl);
    color: var(--clr-grey-900);
}

.modal {
    display: grid;
    row-gap: 24px;
}

.modal > div:first-of-type {
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.modal > div:not(:first-of-type) {
    display: grid;
    row-gap: 8px;
}

.modal p,
.modal strong {
    color: var(--clr-grey-900);
}

.modal strong {
    font-size: 12px;
}

.modal div:nth-of-type(2) strong {
    margin-bottom: 8px;
}

.modal input {
    height: 40px;
}

.modal textarea {
    padding-block: 7px;
    height: 112px;
    resize: none;
}

.modal input:not([type='checkbox']),
.modal textarea {
    padding-inline: 16px;
    background-color: var(--clr-white-pri);
    border: 1px solid var(--clr-grey-border);
    border-radius: 4px;
    font: var(--font-body-lg);
}

.modal input::placeholder,
.modal textarea::placeholder {
    color: var(--clr-black);
    opacity: 0.25;
}

.empty {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    height: 100%;
    padding-inline: 16px;
    text-align: center;
    color: var(--clr-grey-900);
}