.main {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 64px);
    overflow-y: scroll;
}

.column_carousel,
.empty {
    display: flex;
    flex-grow: 1;
}

.column_carousel {
    gap: 24px;
    padding-block: 24px;
    padding-inline: 16px;
    width: 100%;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.modal {
    display: grid;
    row-gap: 24px;
}

.modal > div:first-of-type {
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.modal > div:not(:first-of-type) {
    display: grid;
    row-gap: 8px;
}

.modal p,
.modal strong {
    color: var(--clr-grey-900);
}

.modal strong {
    font-size: 12px;
}

.modal div:nth-of-type(2) strong {
    margin-bottom: 8px;
}

.empty {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    height: 100%;
    padding-inline: 16px;
    text-align: center;
    color: var(--clr-grey-900);
}