.main {
    min-height: calc(100vh - 64px);
    overflow-y: scroll;
}

.column_carousel {
    display: flex;
    gap: 24px;
    padding-block: 24px;
    padding-inline: 16px;
    width: 100%;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}