.column {
    display: inline;
    width: 280px;
    flex-shrink: 0;
    scroll-snap-align: center;
}

.column h4 {
    margin-bottom: 24px;
    color: var(--clr-grey-900);
}

.tasks {
    display: grid;
    row-gap: 20px;
}