.container {
    position: fixed;
    inset: 0;
    top: 64px;
    background-color: #00000080;
}

.modal {
    margin-top: 16px;
    margin-left: 64px;
    width: 264px;
    background-color: var(--clr-white-pri);
    border-radius: var(--radius-element);
}