.container {
    position: fixed;
    inset: 0;
    top: 64px;
    display: grid;
    place-items: center;
    background-color: #00000080;
}

.modal {
    padding: 24px;
    width: 90%;
    background-color: var(--clr-white-pri);
    border-radius: var(--radius-element);
}