.container {
    position: fixed;
    inset: 0;
    top: 64px;
    display: grid;
    place-items: center;
    background-color: #00000080;
}

.modal {
    position: relative;
    padding: 24px;
    padding-top: 32px;
    width: 90%;
    background-color: var(--clr-white-pri);
    border-radius: var(--radius-element);
}

.close_btn {
    position: absolute;
    top: 8px;
    left: 8px;
    display: flex;
    width: fit-content;
    background-color: transparent;
    border: none;
}

.close_btn > svg {
    fill: var(--clr-grey-900);
}