.field {
    display: flex;
    align-items: center;
    gap: 16px;
    width: 100%;
    margin-bottom: 12px;
}

.field input {
    flex-grow: 1;
}

.field svg {
    fill: var(--clr-grey-900);
}

.delete_btn {
    height: fit-content;
    width: fit-content;
    background-color: transparent;
    border: none;
}