.header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    height: 64px;
    padding-inline: 16px;
    background-color: var(--clr-white-pri);
}

.header[data-dark-theme='true'] {
    background-color: var(--clr-black-pri);
}