.header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    padding-inline: 16px;
    background-color: var(--clr-white-pri);
}

.header[data-dark-theme='true'] {
    background-color: var(--clr-black-pri);
}

.mobile_head {
    display: flex;
    align-items: center;
    gap: 16px;
}

.list_control_btn {
    display: flex;
    align-items: center;
    gap: 9px;
    border: none;
    background-color: transparent;
}

.list_control_btn::after {
    content: url(/icon-chevron.svg);
}

.list_control_btn[data-list-visible='true']::after {
    rotate: 180deg;
}

.options_container {
    position: relative;
    display: flex;
    align-items: center;
    gap: 16px;
}

.options_container > button:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    min-width: 48px;
    color: var(--clr-white-pri);
    background-color: var(--clr-purple-700);
    border: none;
    border-radius: 48px;
}

.options_container > button:first-child svg {
    fill: var(--clr-white-pri);
}

.options_container > button:nth-child(2) {
    height: 20px;
    width: 20px;
    background-color: transparent;
    border: none;
}

.board_options {
    position: absolute;
    top: 40px;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    width: 192px;
    padding: 16px;
    background-color: var(--clr-white-pri);
    border-radius: var(--radius-element);
}

.board_options button {
    background-color: transparent;
    border: none;
}

.board_options button:first-child {
    color: var(--clr-grey-900);
}

.board_options button:last-child {
    color: var(--clr-red-800);
}