.header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    padding-inline: 16px;
    background-color: var(--clr-white-pri);
}

.header[data-dark-theme='true'] {
    background-color: var(--clr-grey-500);
}

.mobile_head {
    display: flex;
    align-items: center;
    gap: 16px;
}

.list_control_btn {
    display: flex;
    align-items: center;
    gap: 9px;
    border: none;
    background-color: transparent;
}

@media screen and (max-width: 480px) {
    .list_control_btn::after {
        content: url(/icon-chevron.svg);
        transform-origin: center;
    }

    .list_control_btn[data-list-visible='true']::after {
        rotate: 180deg;
        transform: translateY(-3px);
    }
}

.options_container {
    position: relative;
    display: flex;
    align-items: center;
    gap: 16px;
}

.options_container > button:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    min-width: 48px;
    color: var(--clr-white-pri);
    background-color: var(--clr-purple-700);
    border: none;
    border-radius: 48px;
}

.options_container > button:first-child:disabled {
    opacity: 0.25;
}

.options_container > button:first-child svg {
    fill: var(--clr-white-pri);
}