#root {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: var(--clr-black-pri);
    background-color: var(--clr-white-sec);
}

#root.dark {
    color: var(--clr-white-pri);
    background-color: var(--clr-grey-300);
}